@import "../../var.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 56px;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
}

.title {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 30px;
}

.description {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 50px;
}

.contactBtn {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-bg);
  background-color: var(--color-primary);
  border-radius: 100px;
  padding: 20px 22px 26px 26px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: none;
  /* margin-bottom: 50px; */
}

.contactBtn:hover {
  background-color: var(--color-secondary);
  color:var(--color-text);
}

.heroImg {
    width: 50%;
    padding-bottom: 30px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }
    
    .content {
        align-items: center;
    }
}