@import "../../var.css";

.container {
  color: var(--color-text);
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 28px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 20px;
  letter-spacing: -0.25px;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 18px;
  border: solid 3px var(--color-secondary);
  padding: 24px;
  border-radius: 10px;
  list-style: none;
}

.historyItem img {
  width: 50px;
  border-radius: 8%;
  margin-top: 4px;
}

.historyItemDetails h3 {
  font-size: 26px;
  font-weight: 700;
}

.historyItemDetails p {
  font-size: 16px;
}

.historyItemDetails ul {
  margin-top: 6px;
  font-size: 16px;
  list-style-type: none;
}

.historyItemDetails ul li {
  position: relative;
  padding-left: 28px;
}

.historyItemDetails ul li:before {
  position: absolute;
  left: 0;
  content: "✔️";
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 20px;
  }

  .historyItem {
    flex-direction: column;
  }

  .historyItemDetails h3 {
    font-size: 21px;
  }

  .historyItem img {
    margin-top: 0;
  }
}
