@import "../../var.css";

.container {
  margin-top: 140px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.text h2 {
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.1;
}

.text p {
  font-size: 26px;
  letter-spacing: 0.5px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link img {
  width: 30px;
}

.link a {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: var(--color-text);
  text-decoration: none;
}

.attribution {
  text-align: center;
}

.attribution a {
  color: var(--color-secondary);
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
  }

  .text h2 {
    font-size: 48px;
  }

  .text p {
    font-size: 21px;
  }
}
