:root {
  --color-text: #fff;
  /* --color-primary: #576cbc; */
  --color-primary: #00d8ff;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #171717;

  --font-roboto: "Roboto";
}
