:root {
  --color-text: #fff;
  --color-primary: #00C2FF;
  --color-hover: #66daff;
  --color-secondary: #283940;
  --color-bg: #021620;

  --font-body: "Teachers";
  --font-header: "Josefin Sans";
}
